@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    box-sizing: border-box;
    margin: 0 auto;
    font-size: 50%;
    font-family: 'Righteous', sans-serif;
}

body {
    color: #fafafa;
    background-image: linear-gradient(rgba(4, 9, 30, 0.2), rgba(4, 9, 30, 0.2)), url('../images/gameofthronesbackground.jpg');
}

h1 {
    font-size: 6rem;
    color: #fafafa;

}

/* Home Page */

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 80rem;
    padding: 1.5rem;
}

.home-column {
    display: flex;
    flex-direction: column;
}


.flex-center {
    justify-content: center;
    align-items: center;
}
/* home button styling */ 

.btn {
    font-size: 4rem;
    padding: 1rem 0;
    margin-top: 30px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    color: #fafafa;
    background: #f00;
    border-radius: 30px;
}

.btn:hover {
    border: 1px solid #fafafa;
    background: #fafafa;
    color: #f00;
    transition: 1s;
}

/* Quiz Page */

.center {
    justify-content: center;
}

.quiz-column {
    display: flex;
    width: 80%;
    flex-direction: column;
}


/* hover effect of buttons are credited to Brian Design */

.choice-contnr1 {
    width: 100%;
    background-color: #f00;
    border-radius: 5px;
    margin-bottom: 10px;
    flex-basis: 100%;
    font-size: 4rem;
    display: flex;
    min-width: 80rem;
    transition: ease-out 0.5s;
    outline: none;
    color: #fafafa;
    border: none;
    box-shadow: inset 0 0 0 0 #ad12cd;
}

.choice-contnr2 {
    width: 100%;
    background: #ac7328;
    border-radius: 5px;
    margin-bottom: 10px;
    flex-basis: 100%;
    font-size: 4rem;
    display: flex;
    min-width: 80rem;
    transition: ease-out 0.5s;
    outline: none;
    color: #fafafa;
    border: none;
    box-shadow: inset 0 0 0 0 #ad12cd;
}

.choice-contnr3 {
    width: 100%;
    background: #409c37;
    border-radius: 5px;
    margin-bottom: 10px;
    flex-basis: 100%;
    font-size: 4rem;
    display: flex;
    min-width: 80rem;
    transition: ease-out 0.5s;
    outline: none;
    color: #fafafa;
    border: none;
    box-shadow: inset 0 0 0 0 #ad12cd;
}

.choice-contnr4 {
    width: 100%;
    background: #1558cb;
    border-radius: 5px;
    margin-bottom: 10px;
    flex-basis: 100%;
    font-size: 4rem;
    display: flex;
    min-width: 80rem;
    transition: ease-out 0.5s;
    outline: none;
    color: #fafafa;
    border: none;
    box-shadow: inset 0 0 0 0 #ad12cd;
}

/* hover effect for choice buttons credited to Brian Design */

.choice-contnr1:hover {
    box-shadow: inset 300px 0 0 0 #ad12cd;
}

.choice-contnr2:hover {
    box-shadow: inset 300px 0 0 0 #ad12cd;
}

.choice-contnr3:hover {
    box-shadow: inset 300px 0 0 0 #ad12cd;
}

.choice-contnr4:hover {
    box-shadow: inset 300px 0 0 0 #ad12cd;
}

.choice-prefix {
    padding: 32px 40px;
    color: #fafafa;
}

.choice-text {
    padding: 32px;
    width: 100%;
}

.correct {
    background: linear-gradient(32deg, green) 0%;
}

.incorrect {
    background: linear-gradient(32deg, red);
}

/* Screen display */

#scrn {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 850px) {
    .choice-contnr1 {
        min-width: 100px;
    }

    .choice-contnr2 {
        min-width: 100px;
    }

    .choice-contnr3 {
        min-width: 100px;
    }

    .choice-contnr4 {
        min-width: 100px;
    }
}